.app {
  width: auto;
  justify-self: end;
  align-items: flex-end;
  height: 100vh;
}

.titleHome {
  color: rgb(33, 33, 250);
  text-transform: uppercase;
}

.loginLink {
  font-style: italic;
}

.link {
  text-underline-offset: none;
  color: brown;
  text-decoration: none;
}
.link :hover {
  text-decoration: none;
  color: brown;
  cursor: progress;
}
.error {
  color: red;
  font-style: italic;

  font-weight: bolder;
  font-size: 0.9rem;
  text-align: center;
}
